<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</head>
<body>

<%= form_for @registration, @action, fn f -> %>
  <%= if @registration.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
<script>

select(form, :student_id, 0..120)
</script>
  <div>

    <%= text_input f, :student_id %>
    <label for="StudentID"> student_id:</label>
    <%= error_tag f,  :student_id %>
  </div>
  <div>
    <label for="ClassID"> class_id:</label>
    <%= text_input f, :class_id%>
    <%= error_tag f,  :class_id %>
  </div>
    <div>
    <label for="Semester"> semester:</label>
    <%= text_input f, :semester %>
    <%= error_tag f,  :semester %>
  </div>
  <div>
    <%= submit "Save" %>
  </div>
</form>
<% end %>
