<%= render("editform.html", conn: @conn, id: @id, classtitle: @classtitle,
fee: @fee, semester: @semester, section: @section, period: @period,
teacher1: @teacher1, teacher2: @teacher2, teacher3: @teacher3, action: @action) %>
