<h1>Show -   <%= @student.data.firstname %> <%= @lastname %> </h1>
<%= render("newform.html", student: @student, current_user: @current_user,action: Routes.student_path(@conn,:create), conn: @conn)%>
