<h1>Edit profile for <%= @profile.data.firstname %>  <%= @profile.data.lastname  %> </h1>
<%= render("form.html", profile: @profile, current_user: @current_user, submitter: @submitter, action: Routes.profile_path(@conn,:update), conn: @conn) %>
 <! –– assigns - [:conn, :current_user, :profile] ––>
 <! –– from Map.keys(assigns) ––>
