
<div class="form-group">
    <%= form_for @profile ,@action, fn f -> %>
    <%= text_input f, :title %>
    <%= text_input f, :lastname %>
    <%= text_input f, :firstname  %>
    <%= text_input f, :spousename %>
    <%= text_input f, :state %>
    <%= text_input f, :state %>
    <%= text_input f, :zipcode %>
    <%= text_input f, :phoneone %>
    <%= text_input f, :phonetwo %>

<div>
  <%= if @submitter do  %>
    <%= submit "Submit" %>
  <%end %>
</div>

</div>
<% end %>
