<h1>Show profile for  <%= @profile.data.firstname %> <%= @profile.data.lastname %> </h1>
<%= render "form.html", profile: @profile, current_user: @current_user, submitter: @submitter, action: Routes.profile_path(@conn, :show) %>
 <! –– assigns - [:conn, :current_user, :profile] ––>
 <! –– from Map.keys(assigns) ––>
